
<%= form_with(model: [ @question, @answer ], local: true) do |form| %>

<% question = @question %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :body, class: 'form-control' %>
  </div>
  
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Add Code Snippet</button>
  <div id="demo" class="collapse">
    <p>Insert the code in the textarea and then type the desired open source license in the text field beneath (or leave it blank for public domain).</p>
    <div class="field">
    <% form.label :code %>
    <%= form.text_area :code, id: :body, class: 'form-control', :placeholder => 'Code snippet.'%>
  </div>
  
  <div class="field">
    <% form.label :license %>
    <%= form.text_field :license, id: :body, class: 'form-control', :placeholder => 'License.'%>
  </div>
  </div>
  
   <div class="field">
     <% if !current_user.nil? %>
     <% if current_user.admin %>
     <%= form.number_field :user_id, :value => "#{@answer.user_id}" %>
     <% else %>
    <%= form.number_field :user_id, :type => "hidden", :value => "#{@answer.user_id}" %>
    <% end %>
    <% end %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit 'Update Answer', class: "btn btn-primary"%>
  </div>
<% end %>
